.logo {
  height: 60px;
  width: 60px;
  margin: 20px;
}

.container {
  margin: auto;
}

footer {
  background-color: #93A3BC;
}

@media screen and (max-width: 400px) {
  .logo {
    height: 30px;
  width: 30px;
  margin: 10px;
  }
}
