<mat-toolbar>
  <img src='../../../assets/Ailye-Logo.jpg' alt='logo Ailye' id='logo'>
  <button mat-raised-button [matMenuTriggerFor]="menu" class='buttonMargin'>Menu</button>
  <mat-menu #menu="matMenu"> <!-- A adapter avec les medias queries-->
    <button mat-menu-item>
      <mat-icon>face</mat-icon>
      <span>Qui suis-je ?</span>
    </button>
    <button mat-menu-item>
      <mat-icon>dashboard</mat-icon>
      <span>Programmation</span>
    </button>
    <button mat-menu-item>
      <mat-icon>photo_album</mat-icon>
     <span>Galerie</span>
    </button>
    <button mat-menu-item>
      <mat-icon>code</mat-icon>
      <span>Developpement Web & Co</span>
    </button>
  </mat-menu>
  <div fxFlex></div>
  <button mat-raised-button class='buttonMargin'>Inscription</button>
  <button mat-raised-button class='buttonMargin'>Connexion</button>
</mat-toolbar>
