#videoContainer {
  margin-bottom: 2%;
}

#infEdge {
  height: 80px;
}

.flechebas {
  margin: auto;
}

#bodyModule {
  width: 100%;
}

.bloc {
  min-width: 0px;
}


@media screen and (max-width: 900px) {
  iframe {
    width: 250px;
    height: 190px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }
}
