<app-barre-navigation></app-barre-navigation>

<div fxLayoutAlign="center center" id='videoContainer'>
  <iframe src="https://player.twitch.tv/?channel= og_ailye" height="562" width="1000" frameborder="0" scrolling="no"
    allowfullscreen="true">
  </iframe>
  <iframe frameborder="0" scrolling="no" id="chat_embed" src="https://www.twitch.tv/embed/og_ailye/chat" height="562"
    width="393,40">
  </iframe>
</div>

<hr>

<div>
  <div fxFlex></div>
  <a href='https://www.twitch.tv/products/og_ailye/ticket?ref=below_video_subscribe_button'>
    <figure>
      <img src='../../assets/infEdge.jpeg' alt='lame dinfini' id='infEdge'>
      <figcaption>Prend les armes et abonne toi !</figcaption>
    </figure>
  </a>
  <div fxFlex></div>
  <a>prout</a>
  <div fxFlex></div>
  <a>prout</a>
  <div fxFlex></div>
</div>
