<app-barre-navigation></app-barre-navigation>

<div fxLayoutAlign="center center" id='videoContainer'>
  <iframe src="https://player.twitch.tv/?channel= og_ailye" height="562" width="1000" frameborder="0" scrolling="no"
    allowfullscreen="true">
  </iframe>
  <iframe frameborder="0" scrolling="no" id="chat_embed" src="https://www.twitch.tv/embed/og_ailye/chat" height="562"
    width="393,40">
  </iframe>
</div>

<hr>

<div>
  <div fxFlex></div>
  <div class='bloc' fxLayout="column">
    <figcaption fxLayoutAlign="center start">Abonne toi</figcaption>
    <mat-icon class="flechebas">arrow_downward</mat-icon>
    <a href='https://www.twitch.tv/products/og_ailye/ticket?ref=below_video_subscribe_button'>
      <figure>
        <img src='../../assets/logotwich.png' alt='logo twich' id='logotwich'>
      </figure>
    </a>
  </div>
  <div fxFlex></div>
  <div class='bloc' fxLayout="column">
    <figcaption fxLayoutAlign="center start">Donation</figcaption>
    <mat-icon class="flechebas">arrow_downward</mat-icon>
    <a href='https://www.tipeeestream.com/og-ailye/donation'>
      <figure>
        <img src='../../assets/stfumoney.jpeg' alt='shut up and take my money !' id='stfumoney'>
      </figure>
    </a>
  </div>
  <div fxFlex></div>
  <div class='bloc' fxLayout="column">
    <figcaption fxLayoutAlign="center start">Discord</figcaption>
    <mat-icon class="flechebas">arrow_downward</mat-icon>
    <a href='#'>
      <figure>
        <img src='../../assets/logodiscord.png' alt='logo discord' id='logodiscord'>
      </figure>
    </a>
  </div>
  <div fxFlex></div>
</div>

<app-footer></app-footer>
